@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    width: 100%;
    font-family: Montserrat;
    background-image: url(/img/circle.png);
    background-repeat: no-repeat;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}

.image {
    display: flex;
    width: 30%;
    flex-direction: row;
    align-items: center;
    color: #225677;

}

.img {
    width: 40%;
    /* border: 1px solid; */
}

.img img {
    width: 100%;
    mix-blend-mode: darken;
}

.text1 {
    width: 50%;
}

.text1 h1 {
    font-size: 15px;
}

h1 b {
    font-size: 43px;
}

a {
    margin: 0px 26px;
    text-decoration: none !important;
    color: #054A68 !important;
    font-size: 18px;
    font-weight: 600;
}

a:hover {
    border-bottom: 4px solid #24617D;
}

button {
    padding: 14px 30px;
    border-radius: 10px !important;
    border: none;
    color: white;
    background-image: linear-gradient(#24617D, #4A7C97);
}

.set2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.text2 {
    padding: 30px;
    width: 50%;
}

.text2 button {
    font-weight: 500;
}

.text2 h1 {
    max-width: 100%;
    font-size: 50px;
}

.image2 {
    width: 50%;
}

p {
    line-height: 30px !important;
}

.image2 img {
    width: 100%;
}

.set3 {
    width: 100%;
    margin-bottom: 10px;

}

.set3 h1 {
    text-align: center;
}

.cards {
    width: 100%;
    padding: 35px;
    background-color: #054866;

}

.allcard1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.allcard2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

#card1 {
    border: 1px solid #37434C;
    border-radius: 10px;
    width: 27%;
    padding: 30px;
    background-image: linear-gradient(#084C6A, #457893);
    color: white;
}

#card1 p {
    max-width: 100%;
}

#card1 button {
    width: 100%;
    padding: 20px auto;
    border-radius: 5px;
    display: flex;
    /* font-weight: 800; */
    font-size: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #033348 !important;
    background-image: none;
}

.side i {
    display: none;
}

.set4 {
    padding: 10px 20px;
}

.set4 h1 {
    text-align: center;
}

.footer {
    background-image: linear-gradient(#24617D, #4A7C97);
    text-align: justify;
    color: white;
    width: 100%;
}

.un {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 60px;

}

#pp {
    background-color: white;
    color: #24617D;
    font-weight: bold;
}

#fo1 #ff {
    display: flex;
    justify-content: none;
    text-align: justify;
    border: 1px solid;
}

#fo1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 9px;
}

.footer a {
    display: block;
    color: white !important;
    font-weight: normal;
    padding: 7px 0;
}

.pag {
    font-size: 20px;
    width: 15%;
}

.locate p {
    max-width: 70%;
    width: 100%;
}


#pill {
    text-align: center;
    font-size: 9px;
}

hr {
    margin: 0 20px;
}
.dropdown{
    display: none;
}






@media screen and (max-width:760px) {
    .main-container {
        width: 100%;
        padding: 20px 10px;
        background-image: none;
    }

    .img img {
        width: 40px;
    }

    nav {
        width: 100%;
        /* padding: 30px 10x !important; */
    }

    .text1 h1 {
        font-size: 7px;
        max-width: 100%;
        text-wrap: nowrap;
    }

    .dropdown{
        display: block;
        width: 100%;
    }
    .dropdown button{
        background-image: none;
        background-color: transparent;
    }
    .dropdown button i{
        background-color: black;
    }
    .element a{
    display: block;
    padding-bottom: 5px;
    color: black !important;
    }
    .element a:hover{
    color: #24617D !important;
        border: 0;
    }
    .element{
        position: absolute;
        background-color:white;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        width: 40%;
        z-index: 1;
        float: left;
        display: none;
    }
    .element button{
        background-color:none ;
    color: black !important;
    padding: 0%;
    }
    .dropdown:hover .element{
        display: block;
        float: left;
        right: 4px;
        /* top: 2px; */
overflow: hidden;

    }

    .text1 {
        margin-left: 10px;
    }

    .text2 p {
        max-width: 100%;
        font-size: 14px;
    }

    .set4 {
        padding: none;
    }

    .text1 h1 b {
        font-size: 20px;
    }

    a {
        display: none;
    }

    .side i {
        display: block;
    }

    .side {
        width: 10%;
        height: 70%;
    }

    .set2 {
        width: 100%;
        flex-direction: column;
    }

    .text2 {
        width: 100%;
    }

    .text2 h1 {
        max-width: 100%;
        font-size: 30px;
    }

    .image2 {
        width: 100%;
    }

    .image2 img {
        width: 100%;
    }

    .cards {
        width: 100%;
    }

    .allcard1 {
        flex-direction: column;
        width: 100%;
        margin: 0;

    }

    .set3 h1 {
        margin-bottom: 10px;
        font-size: 20px;
    }

    #card1 {
        margin-bottom: 20px;
        width: 100%;
    }

    #card1 img {
        width: 70%;
    }

    #card1 p {
        font-size: 10px;
    }

    #card1 button img {
        width: 13px;
    }

    #card1 button {
        font-size: 13px;
    }

    .allcard2 {
        flex-direction: column;
    }

    .icon {
        display: block;
    }




    .footer {
        width: 100%;
        padding: 70px 0;
        margin: 20px 0;
        text-align: center;
    }

    .un {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .pag {
        width: 100%;
        text-wrap: nowrap;
        padding: 1px 0;
        margin: 5px 0;
        font-family: 14px;
    }

    .locate {
        width: 100%;
        /* border: 1px solid; */
        margin: 5px 0;
    }

    .locate p {
        font-size: 10px;
        max-width: 100%;
        display: inline;
    }

    .footer a {
        font-size: 12px;

    }


}

/* tablet and laptop view */
@media screen and (min-width:760px) and (max-width:900px) {
    .main-container {
        width: 100%;
        padding: 20px 10px;
    }

    .image {
        width: 40px;
    }

    .img img {
        width: 40px;
    }

    nav {
        width: 100%;
    }

    .text1 h1 {
        font-size: 7px;
        max-width: 100%;
        text-wrap: nowrap;
    }

    .text1 {
        margin-left: 10px;
    }

    .text2 p {
        max-width: 100%;
        font-size: 14px;
    }

    .set4 {
        padding: none;
    }

    .text1 h1 b {
        font-size: 20px;
    }

    a {
        margin: 0 2px;
        font-size: 12px;
    }

    .side {
        width: 50%;
    }

    .side button {
        padding: 10px 10px;
        border-radius: 2px;
        font-size: 12px;

    }

    .set2 {
        width: 100%;
        flex-direction: column;
    }

    .text2 {
        width: 100%;
    }

    .text2 h1 {
        max-width: 100%;
        font-size: 30px;
    }

    .image2 {
        width: 100%;
    }

    .image2 img {
        width: 100%;
    }

    .cards {
        width: 100%;
    }

    .allcard1 {
        flex-direction: column;
        width: 100%;

    }

    .set3 h1 {
        margin-bottom: 10px;
        font-size: 20px;
    }

    #card1 {
        margin: 0px auto 20px;
        width: 50%;
        padding: 0 auto;
        text-align: center;
    }

    #card1 img {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 70px;
    }

    #card1 p {
        font-size: 10px;
    }

    #card1 button img {
        width: 13px;
    }

    #card1 button {
        font-size: 13px;
        width: 50%;
        margin: 0 auto;
    }

    .allcard2 {
        flex-direction: column;
    }

    .icon {
        display: block;
    }

    .footer {
        width: 100%;
        padding: 70px 0;
        margin: 20px 0;
        text-align: center;
    }

    .un {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .pag {
        width: 100%;
        text-wrap: nowrap;
        padding: 1px 0;
        margin: 5px 0;
        font-family: 14px;
    }

    .locate {
        width: 100%;
        /* border: 1px solid; */
        margin: 5px 0;
    }

    .locate p {
        font-size: 10px;
        display: inline;
        max-width: 100%;
    }

    .footer a {
        font-size: 12px;

    }


}



@media screen and (min-width:769px) and (max-width:1024px) {

    .main-container {
        width: 100%;
        padding: 20px 10px;
    }

    .img img {
        width: 40px;
    }

    nav {
        width: 100%;
        /* padding: 30px 10x !important; */
    }

    .text1 h1 {
        font-size: 7px;
        max-width: 100%;
        text-wrap: nowrap;
    }

    .text1 {
        margin-left: 10px;
    }

    .text2 p {
        max-width: 100%;
        font-size: 14px;
    }

    .set4 {
        padding: none;
    }

    .text1 h1 b {
        font-size: 20px;
    }

    a {
        margin: 0 5px;
        font-size: 12px;
    }



    .side {
        width: 50%;
        height: 70%;
    }

    .set2 {
        width: 100%;
        flex-direction: column;
    }

    .text2 {
        width: 100%;
    }

    .text2 h1 {
        max-width: 100%;
        font-size: 30px;
    }

    .image2 {
        width: 100%;
    }

    .image2 img {
        width: 100%;
    }

    .cards {
        width: 100%;
    }

    .allcard1 {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;

    }

    .set3 h1 {
        margin-bottom: 10px;
        font-size: 20px;
    }

    #card1 {
        margin: 0px auto 20px;
        width: 50%;
        padding: 0 auto;
        text-align: center;
    }

    #card1 img {
        width: 70px;
        margin: 0 auto;
        display: flex;
    }

    #card1 p {
        font-size: 10px;
    }

    #card1 button img {
        width: 13px;
    }

    #card1 button {
        font-size: 13px;
        width: 70%;
        margin: 0 auto;
    }

    .allcard2 {
        flex-direction: column;
    }

    .icon {
        display: block;
    }




    .footer {
        width: 100%;
        padding: 70px 0;
        margin: 20px 0;
        text-align: center;
    }

    .un {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .pag {
        width: 100%;
        text-wrap: nowrap;
        padding: 1px 0;
        margin: 5px 0;
        font-family: 14px;
    }

    .locate {
        width: 100%;
        /* border: 1px solid; */
        margin: 5px 0;
    }

    .locate p {
        font-size: 10px;
        max-width: 100%;
        display: inline;
    }

    .footer a {
        font-size: 12px;

    }

}